@import "tailwindcss";
@import "flowbite/src/themes/default";

:root {
  --bg-primary: #070b17;
  --bg-secondary: #0f1525;
  --border-color: #1c2a40;

  --text-primary: #f5f7fa;
  --text-secondary: #94a3b8;

  --accent: #00d4aa;
  --accent-hover: #00f0c0;
}

body {
  background: #070b17;
  color: #f5f7fa;
}

@layer base {
  h1,
  h2 {
    font-family: "Playfair Display", serif;
  }
}
